{
  "port": "{{ heketi_port | default('8080') }}",
  "use_auth": true,
  "jwt": {
    "admin": {
      "key": "{{ ansible_local.heketi.credentials.admin_pass }}"
    },
    "user": {
      "key": "{{ ansible_local.heketi.credentials.user_pass }}"
    }
  },

  "glusterfs": {
    "executor": "ssh",
    "sshexec": {
      "keyfile": "{{ heketi_keypath }}",
      "user": "{{ heketi_executor }}",
      "port": "{{ ansible_ssh_port }}",
      "fstab": "/etc/fstab"
    },
    "db": "/var/lib/heketi/heketi.db",
    "loglevel" : "debug"
  }
}
