{
  "clusters": [
    {
      "nodes": [
        {% for node in gluster_hosts %}
        { "node": {
            "hostnames": {
              "manage": [ "{{ hostvars[node]['ansible_hostname'] }}" ],
              "storage": [ 
                {%- for interface in {{ hostvars[node]['interfaces'] }} -%}
                  {%- if interface.name == gluster_interface -%}
                  "{{ interface.address|default(hostvars[node]["ansible_%s" % gluster_interface]['ipv4']['address'] }}"
                  {%- endif -%}
                {%- endfor -%}
              ]
            },
            "zone": {{ storage_zone | int }}
        },
        "devices": [
          "/dev/{{ ansible_host }}"
          ]
        "_device_comment": "trying the root of a vg. nobody knows how this works."
        },
        {% endfor %}
      ]
    },
  ]
}
