[submodule "ansible/roles/ansible-certbot"]
	path = ansible/roles/ansible-certbot
	url = https://github.com/telusdigital/ansible-certbot
[submodule "ansible/roles/ansible-strongswan"]
	path = ansible/roles/ansible-strongswan
	url = git@github.com:immanetize/ansible-strongswan.git
