[defaults]
action_plugins = ~/ansible.randomuser.org/develop/action_plugins
callback_plugins = ~/ansible.randomuser.org/develop/callback_plugins
connection_plugins = ~/ansible.randomuser.org/develop/connection_plugins
lookup_plugins = ~/ansible.randomuser.org/develop/lookup_plugins

gathering = smart
forks = 50
nocows = 1
inventory = ~/ansible.randomuser.org/ansible/inventory/ansible_hosts

log_path = ~/ansible.randomuser.org/context/log/ansible.log
roles_path = ~/ansible.randomuser.org/ansible/roles
vault-password-file = ~/ansible.randomuser.org/ansible/private/vault_credentials

ansible_managed: This file is managed by https://github.com/immanetize/ansible.randomuser.org , any changes will be overwritten.

