[Unit]
Description=controller.randomuser.org impersonator service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/socat tcp4-listen:60553,reuseaddr,fork UDP:localhost:53
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
