[Unit]
Description=controller.randomuser.org impersonator socket

[Socket]
{% for port in ports %}
ListenStream=10.27.0.89:{{port}}
{% endfor %}
Accept=yes

[Install]
WantedBy=sockets.target
