[Unit]
Description=controller.randomuser.org impersonator service
After=network.target
Wants=controller_impersonator.service

[Service]
Type=simple
ExecStart=/usr/bin/socat -T15 udp4-recvfrom:53,reuseaddr,fork tcp:10.27.0.89:60553
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
