[Unit]
Description=dnf makecache timer
ConditionKernelCommandLine=!rd.live.image

[Timer]
OnBootSec=10s
OnUnitInactiveSec=5m
Unit=resolv-maintainer.service

[Install]
WantedBy=network.target
