[Unit]
Description=controller.randomuser.org impersonator service
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/ssh -4 -F {{secure_path}}/ssh_config -f {% for port in ports %} -L 10.27.0.89:{{port}}:10.27.0.89:{{port}} {% endfor %} controller.randomuser.org -N
ExecReload=/bin/kill $MAINPID
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
