module(load="imudp"
  BatchSize="64"
  Threads="2"
  TimeRequery="8"
  SchedulingPolicy="fifo"
  SchedulingPriority="4"
  )
input(type="imudp"
  address="*"
  port=["514"]
  ratelimit.interval="10"
  ratelimit.burst="20000"
  name="default"
  ruleset="remote_insecure"
  )
#input(type="imtcp"
#  name="default"
#  port="514"
#  address="*"
#  ratelimit.interval="10"
#  ratelimit.burst="20000"
#  ruleset="remote_insecure"
#  )
